<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idengyun.heartretail">

    <application
        android:name=".bases.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app"
        android:label="心零售"
        android:roundIcon="@mipmap/ic_logo_app"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <!-- 尺寸适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activitys.ShareQRCodeActivity"></activity>
        <activity android:name=".activitys.SomeWebActivity" />
        <activity android:name=".shop.ShopDetailActivity" />
        <activity android:name=".activitys.FirstActivity" />
        <activity android:name=".shop.ShopListActivity" />
        <activity android:name=".HRActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activitys.ChoosePayModeActivity" />
        <activity android:name=".activitys.PaySuccessActivity" />
        <activity android:name=".activitys.ConfirmOrderActivity" />
        <activity android:name=".activitys.OrderListActivity" />
        <activity android:name=".activitys.OrderDetailActivity" />
        <activity android:name=".activitys.CheckLogisticsActivity" />
        <activity android:name=".activitys.LogisticsDetailActivity" />
        <activity android:name=".activitys.MyEvaluateActivity" />
        <activity android:name=".activitys.EvaluateDetailActivity" />
        <activity android:name=".activitys.HelpCenterActivity" />
        <activity android:name=".activitys.SendGoodsTimeActivity" />
        <activity android:name=".activitys.SendGoodsTimeQ1Activity" />
        <activity android:name=".activitys.WithdrawActivity" />
        <activity android:name=".activitys.AwardDetailActivity" />
    </application>

</manifest>